<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <link href="..//stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="heading">
  <h2><a href="/">ToDo</a></h2>
  <p><a href="/search">検索</a></p>
</div>