<% include header %>

<%
    var todoData = todos
    var listData = lists
%>


<p>新しいToDoリストを作成する</p>
<!-- ToDo入力フォームを作成する-->
<div class="form">
    <form id="form">
        <p>新しくToDoを作成する</p>
        <p>
            <label for="text">リスト</label>
            <input id="listText" type="text" name="text">
        </p>
        <p>
            <input type="submit" value="リストの作成">
        </p>
    </form>
</div>
<!-- ToDo一覧を表示する-->
<%
//checkboxの◯個中◯個チェック済み
    var result = {};
    var todoValues = [];
    listData.forEach(function(list){
    result[list] = [];
    todoData.forEach(function(todo) {
    if(todo.listname === list.listname) {
    result[list].push(todo);
    }
    });
        var checkCount = 0;
        var todoCount = result[list].length;
        result[list].forEach(function (checked) {
            if(checked.isCheck) {
                checkCount++;
            }
        });
        todoValues.push({
            todoCount: todoCount,
            checkCount: checkCount
        });
        console.log(todoValues);



//        console.log(todoCount);
//        console.log(Object.keys(result[list]).length);
//        console.log(result[list])
    });

%>

<%
    //日付比較
var nowTime = new Date()
    console.log(nowTime);
var array = [];
    var minArray = [];
    for(var i=0;i<listData.length;i++) {
        for (var i = 0; i < todoData.length; i++) {
            var subtraction = todoData[i].limitDate - nowTime;
            array.push(subtraction);
        }
        var min = array.indexOf(Math.min.apply(null,array));
        minArray.push(min);
    }

    console.log(minArray);

%>



<% for (var i=0;i<listData.length;i++){
    %>
<% for (var i=0;i<listData.length;i++) {%>

<div id="textDetail">
    <h2 class="text"><p class="todoList"><a href="/getTodoHtmlPage/<%=listData[i].listname%>"><%=listData[i].listname%></a></p></h2>
    <p class="finish"><%= todoValues[i]['todoCount'] %>個中<%= todoValues[i]['checkCount']%>個がチェック済み%></p>
    <p class="Deadline"></p>
</div>

<%
}
    } %>





<!--<div class="list"></div>-->
<div class="checks"></div>
<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
<script src="../javascripts/index.js"></script>



<% include footer %>
