<% include header %>

<%
    var todoData = todos
    var listData = lists
%>


<p>新しいToDoリストを作成する</p>
<!-- ToDo入力フォームを作成する-->
<div class="form">
    <form id="form">
        <p>新しくToDoを作成する</p>
        <p>
            <label for="text">リスト</label>
            <input id="listText" type="text" name="text">
        </p>
        <p>
            <input type="submit" value="リストの作成">
        </p>
    </form>
</div>
<!-- ToDo一覧を表示する-->


<%
    var result = {};
    listData.forEach(function(list){
    result[list] = [];
    todoData.forEach(function(todo) {
    if(todo.listname === list.listname) {
    result[list].push(todo);
    }
    });
//            console.log(result.length);
        console.log(Object.keys(result[list]).length);
    });
    var json = JSON.parse(result);
    var a = json.list
    //    var isCheckNum = 0;
//    var num = Object.keys(result[list]).length;
//    for (var i=0;i<num)
//    if (result.list.index.isCheck){
//        isCheckNum =+ 1;
//        console.log(isCheckNum);
//    }
//    console.log(result);

//      console.log(listData);
//      console.log(todoData);
//    console.log(result);
%>



<div class="list"></div>
<div class="checks"></div>
<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
<script src="javascripts/index.js"></script>



<% include footer %>
