<% include header %>

<div class="title"></div>
<h1><%= listname %></h1>

<!-- ToDo入力フォームを作成する-->
<div class="form">
    <form id="form">
        <p>新しくToDoを作成する</p>
        <p>
            <label for="text">内容</label>
            <input id="text" type="text" name="text">
        </p>
        <p>
            <label for="limit">期限</label>
            <input id="limit" type="date" name="limit">
        </p>
        <p>
            <input type="submit" value="ToDoの追加">
        </p>
    </form>
</div>

<!-- ToDo一覧を表示する-->
<div id="todoList">
aiueo

</div>
<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
<script src="../javascripts/todo.js"></script>

<% include footer %>
