body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
  margin: 0 0 10px;
    font-size: 300%;
    line-height: 1.5;
}

p.searchlink{
  text-align: right
}

#heading{
  background-color: #dedede;
}

div.form {
border-width: thick;
border-color: #dedede;
border-style: solid;
padding : 20px ;
}

#todoDetail{
  border-width: thick;
  border-color: #dedede;
  border-style: solid;
  padding : 20px ;
}

/*#fuga*/
/*{*/
  /*border-style: solid;*/
  /*border-width: 4px 1px 4px 1px;*/
  /*border-color: #000080;*/
  /*padding: 0.5em;*/

/*}*/

h3 {
  color: red;
}

#searchError{
  color: red;
}